.chat-function-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    text-align: center;
}

.chat-bot-window {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.chat-bot-window > img {
    vertical-align: middle;
}

.login-container {
    vertical-align: middle;
    width: 320px;
    height: 320px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.login-container > .customer-login {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.login-container input {
    width: 278px;
    height: 8px;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: #E9ECF0;
    background-color: #fcfcfc;
    outline: none;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
}

.login-container .hlink {
    font-family: "Lato", sans-serif;
    color: #6c9af8;
}

.login-btn {
    width: 320px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: #f7ad66;
    background-color: #f7ad66;
    outline: none;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.login-btn:active {
    background-color: #ffffff;
    color: #f7ad66;
}