<div class="chat-function-container">
    <div class="chat-bot-window" *ngIf="selected === 'Avatar'">
        <img src="assets/images/chatbot_portrait(shadow).png">        
    </div>
    <div class="chat-bot-window" *ngIf="selected === 'Login'">
        <div class="login-container">
            <div class="customer-login">Customer Login</div>
            <input [(ngModel)]="username.text" placeholder="Username">
            <input type="password" [(ngModel)]="password.text" placeholder="Password">
            <button class=login-btn>LOG IN</button>
            <div style="margin-top: 35px">
                <a class="hlink" style="margin-right: 39px" 
                    href="http://www.yahoo.com"
                    target="_blank">New Customer?</a>
                <a class="hlink" style="margin-left: 39px"
                    href="http://www.yahoo.com"
                    target="_blank">Forgot Password?</a>                
            </div>
        </div>
    </div>
</div>