<div class="chat-bubble-container"
[ngClass]="{'base-sent': !isBot, 'base-receive': isBot}">
    <div class="bot-icon"
    *ngIf="isBot">
        <img src="../assets/images/chatbot_icon.png">
    </div>
    <div class="chat-bubble"
    [ngClass]="{'msg-sent': !isBot, 'msg-receive': isBot}">
        <p>{{message.text}}</p>
    </div>
</div>