.chat-bubble-container.base-sent {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    max-width: 392px;
    display: block;
    float: right;
    clear: both;
    height: auto;
}

.chat-bubble.msg-sent {
    background-color: #F7AD66;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
    border-radius: 15px;
    word-wrap: break-word;
    display: inline-block;
}

.chat-bubble.msg-sent > p {
    max-width: 280px;
    word-wrap: break-word;
}

.chat-bubble-container.base-receive {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    max-width: 392px;
    display: block;
    float: left;
    clear: both;
    height: auto;
}

.chat-bubble.msg-receive {
    background-color: #ECF1F8;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    color: #54585D;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
    border-radius: 15px;
    display: inline-block;
}

.chat-bubble.msg-receive > p {
    max-width: 280px;
    word-wrap: break-word;
}

.bot-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}