<div class="chat-box-container">
    <div class="chat-box-window">
        <div class="chat-box-body">
            <div class="chat-box-date">
                {{dateNow | date:'dd MMM y'}}
            </div>
            <perfect-scrollbar 
            id="scrollbar" 
            class="chat-box-scroller">
                <chat-message
                *ngFor="let message of messages"
                [message]="message">
                </chat-message>
            </perfect-scrollbar>
            <div class="chat-option" *ngIf="showOptions">
                <span *ngFor="let option of options">
                    <button class=option-btn (click)="onSelect(option)">{{option}}</button>
                </span>
            </div>
        </div>
        <div class="chat-box-footer">
            <input 
            type="text"
            class="chat-input"
            placeholder="Write message"
            (keydown.enter)="onEnter($event)"
            [(ngModel)]="inputMessage.text"/>
            <label for="img-upload">
                <i
                    class="material-icons icon-lightgrey">
                    add_circle</i>
            </label>
            <input id="img-upload" type="file" accept="image/" />
                <button
                class="send-btn"
                (click)="onEnter($event)">
                SEND
            </button>
        </div>
    </div>
</div>