.chat-box-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
}

.chat-box-window {
    position: absolute;
    background-color: #ffffff;
    top: 3%;
    bottom: 5%;
    left: 5%;
    width: 412px;
    height: 94%;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.chat-box-body {
    position: relative;
    top: 0;
    height: calc(100% - 51px);
    overflow: hidden;
}

.chat-box-body .chat-box-date {
    position: absolute;
    text-align: center;
    color: #b9c6db;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.chat-box-body .chat-box-scroller {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 8px;
}

.chat-box-footer {
    position: absolute;
    border-top-color: #b9c6db;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    bottom: 0;
    width: 352px;
    padding: 15px 30px 15px 30px;
    height: 20px;
}

.chat-box-footer input {
 /* display: block; */
    border: none;
    border-color: transparent;
    outline: none;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    width: 76%;
    height: 20px;
}

.chat-box-footer input::-webkit-input-placeholder {
    color: #b9c6db !important;
}

.send-btn {
    float: right;
    background-color: transparent;
    border: none;
    border-color: transparent;
    outline: none;
    color: #f8ac66;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    height: 20px;
    cursor: pointer;
}

.chat-box-footer label {
    width: 40px;
}

.chat-box-footer i.material-icons {
    height: 24px;
    line-height: 20px;
    background-color: transparent;
    border: none;
    border-color: transparent;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

i.icon-lightgrey {
    color: #b9c6db;
}

input[type="file"] {
    display: none;
}

.chat-option {
    position: absolute;
    bottom: 0;
    width: 392px;
    text-align: center;
}

.chat-option-space {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    clear: both;
}

.option-btn {
    min-width: 120px;
    height: 40px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: #f7ad66;
    background-color: #ffffff;
    outline: none;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #f7ad66;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
    cursor: pointer;
    margin: 3px;
    display: inline-block;
}

.option-btn:active {
    background-color: #f7ad66;
    color: #ffffff;
}