body {
    height: 100%;
    background-color: #eeeeee;
}

.chat-box-scroller .ps-scrollbar-y-rail {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: transparent !important;
}
    .chat-box-scroller .ps-scrollbar-y-rail > .ps-scrollbar-y {
        right: 0px !important;
    }
    .chat-box-scroller .ps-scrollbar-y-rail:active > .ps-scrollbar-y, .chat-box-scroller > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
        width: 6px !important;
        right: 0px !important;
    }